@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

.navbar {
  display: flex;
  flex-wrap: nowrap;
}

.dashboard {
  padding: 25px 20px 20px 40px;
}

.logo--nav {
  display: flex;
  flex-wrap: nowrap;
}

.right--nav {
  display: flex;
  position: absolute;
  right: 20px;
}

.nav--logo--et {
  width: 50px;
  height: 50px;
}

.nav--logo--title {
  margin-top: 8px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-left: 10px;
}

.notification {
  padding-top: 5px;
}

.username--nav {
  margin-top: 8px;
  margin-left: 30px;
}

.user--details--nav {
  display: flex;
  font-weight: 600;
}

.user--profile {
  margin-top: 0px;
  margin-left: 15px;
}

.dasboard--main {
  display: flex;
  margin-top: 30px;
}

.dashboard--card--main {
  width: 470px;
  background-color: rgb(234, 234, 234);
  float: right;
  height: 82vh;
  border-radius: 10px;
  padding: 20px 10px 20px 20px;
}

.dashboard--details {
  width: 100%;
  padding: 20px;
}

.dashboard--card--details {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.image--card {
  margin-top: 20px;
  width: 350px;
  margin-left: -5px;
  text-shadow: 1px 1px black;
}

.card--details--main {
  position: absolute;
  margin-top: 25px;
  width: 300px;
  height: 145px;
  padding-left: 20px;
  padding-top: 30px;
  color: white;
  text-shadow: 1px 0.6px rgb(0, 0, 0);
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
}

.balance--amount {
  font-size: 23px;
  font-weight: 700;
}

.card--no {
  font-size: 21px;
  margin-top: 25px;
  letter-spacing: 2px;
}

.card--holder--name {
  padding-top: 6px;
}

.transaction--head {
  margin-top: 15px;
  padding-bottom: 10px;
}

.transaction--icon {
  width: 44px;
  font-size: 20px;
  font-weight: 600;
  height: 36px;
  border-radius: 22px;
  padding-top: 8px;
}

.transaction--history {
  margin-top: 15px;
  padding: 0px 0px 20px 0px;
  height: 50%;
  overflow-y: scroll;
}

.transction--main {
  padding: 5px 2px 5px 5px;
  display: flex;
  flex-wrap: nowrap;
  cursor: default;
  border-radius: 5px;
}

.transction--main:hover {
  background-color: white;
}

.transaction--details {
  padding-left: 10px;
  font-weight: 600;
  width: 60%;
  padding-top: 3px;
}

.transaction--date {
  font-size: 12px;
  opacity: 0.6;
}

.transaction--amount {
  padding-top: 3px;
  font-weight: 600;
}

.transaction--money {
  width: 35%;
}

.input-container {
  height: 50px;
  position: relative;
  width: 60%;
  display: inline-block;
}

.ic1 {
  margin-top: 20px;
}
.input {
  background-color: #cacaca;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #4072e8;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 110%;
}

.cut {
  background-color: #ffffff;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #4b4b4b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #5039d0;
}

.transaction--buttons {
  padding-top: 45px;
  margin-left: -20px;
}

.transaction--button {
  width: 90px;
  height: 40px;
  position: relative;
  color: white;
  border-radius: 26px;
  background-image: linear-gradient(
    90deg,
    #0065ff,
    #6942ef,
    #6554c0,
    #008cff,
    #0065ff,
    #6942ef
  );
  background-size: 400%;
  background-position: 0% 0%;
  border: none;
  margin-left: 20px;
  transition: 0.6s;
}

.transaction--debit {
  width: 120px;
}

.transaction--button:hover {
  scale: 1.05;
}

.s-transaction {
  width: 250px;
  height: 80px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 15px;
  display: flex;
  border-radius: 8px;
  transition: 0.5s;
  cursor: default;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.s-transaction:hover {
  scale: 1.04;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 25px;
}

.s--transactions {
  padding-top: 8px;
  padding-left: 5px;
  font-size: 26px;
  font-weight: 700;
}

.dashboard--graph--main {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  height: 400px;
}

.transaction--graph {
  width: 80%;
}
