@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@500&display=swap");

.playlist {
  display: block;
  margin-left: 250px;
  text-align: left;
}

.playlist--hide {
  display: none;
}

.playlist--hero {
  padding-top: 100px;
  padding-left: 40px;
  height: 600px;
  width: 100%;
  position: absolute;
  background: linear-gradient(#f49b23, #292929);
}

.playlist--hero--img {
  display: inline-block;
}

.playlist--hero--img img {
  width: 200px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #292929;
}

.playlist--hero--details {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding-left: 30px;
  height: 200px;
}

.playlist--hero--title {
  font-size: 13px;
  font-weight: 700;
}

.playlist--hero--name {
  font-size: 92px;
  font-weight: 1000;
}

.playlist--hero--auth {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.playlist--list {
  width: 100%;
  height: 800px;
  z-index: 4;
  padding-top: 360px;
  position: relative;
}

.playlist--list::before {
  content: "";
  position: absolute;
  display: block;
  height: 800px;
  width: 1600px;
  overflow: hidden;
  background-color: #292929;
  opacity: 0.3;
  z-index: -1;
}

.play--btn--img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.3s;
}
.play--btn--img:hover {
  scale: 1.08;
}

.playlist--controllers {
  padding-left: 20px;
  padding-top: 10px;
}

.playlist--liked {
  height: 50px;
  width: 50px;
  opacity: 0.3;
  transition: 0.3s;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 15px;
}

.playlist--liked:hover {
  opacity: 1;
}

.playlist--more {
  height: 50px;
  width: 50px;
  filter: invert(1);
  margin-left: 15px;
  opacity: 0.3;
  transition: 0.3s;
}

.playlist--brand {
  display: flex;
}

.playlist--brand--logo {
  width: 70px;
  height: 60px;
  filter: invert(1);
  margin-left: -15px;
}

.playlist--brand--title {
  font-size: 14px;
  font-weight: 700;
  margin-top: 18px;
  margin-left: -10px;
}

.playlist--count::before {
  position: absolute;
  margin-left: -12px;
  margin-top: 7px;
  border-radius: 5px;
  width: 5px;
  height: 5px;
  display: block;
  content: "";
  background-color: white;
}

.playlist--count {
  margin-left: 20px;
}

.playlist--more:hover {
  opacity: 1;
}

.playlist--clock {
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.playlist--table--head {
  opacity: 0.6;
  font-size: 13px;
  font-weight: 600;
}
table {
  width: 95%;
  border-collapse: collapse;
  margin-left: 10px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

.table--sr {
  width: 4%;
  text-align: center;
  border-bottom: 1px solid rgb(195, 195, 195);
  padding-bottom: 15px;
}

.table--title {
  width: 45%;
  border-bottom: 1px solid rgb(195, 195, 195);
  padding-left: 10px;
  padding-bottom: 10px;
}

.table--album {
  padding-left: 10px;
  width: 30%;
  border-bottom: 1px solid rgb(195, 195, 195);
  padding-bottom: 10px;
}
.table--duration {
  width: 5%;
  border-bottom: 1px solid rgb(195, 195, 195);
  padding-bottom: 10px;
}

.playlist--title--song {
  display: flex;
  vertical-align: middle;
}

.playlist--song {
  padding-left: 15px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 6px;
}

.playlist--song--img {
  width: 40px;
  height: 40px;
  padding-top: 5px;
  vertical-align: middle;
  padding-bottom: 4px;
  padding-left: 5px;
}

.playlist--song--author {
  font-size: 12px;
  opacity: 0.8;
}
.playlist--songs {
  border-radius: 100px;
}

.playlist--sr {
  text-align: right;
  padding-right: 20px;
}

.playlist--songs:hover {
  background-color: rgb(70, 70, 70);
}

td {
  font-size: 13px;
  opacity: 0.8;
  padding-left: 6px;
}
