.login--main {
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-color: #dce0fe;
  padding-top: 70px;
}

.login--background {
  background-color: #ffffff;
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
}

.login--content {
  width: 40%;
}

.login--swiper {
  width: 60%;
}
