.footer {
  width: 100vw;
  padding: 30px;
  background-color: #ffff;
  position: absolute;
  left: 0;
  overflow: hidden;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer .logo--nav {
  width: fit-content;
  position: relative;
  margin: 30px auto;
}

.footer hr {
  width: 40%;
}

.footer--copy {
  width: fit-content;
  margin: 20px auto;
}

@media (max-width: 890px) {
  .footer {
    margin-top: 700px;
  }
}

@media (max-width: 500px) {
  .footer {
    margin-top: 200px;
  }
}
