

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0px;
  background-color: hsl(329, 100%, 91%);
  font-family: 'Titillium Web', sans-serif;
  transition: 0.5s;
  cursor: default;
  overflow-x: hidden;
}


.NavBarImg {
  width: 160px;
  margin-left: 50px;
  margin-top: 30px
}

.DesktopImg {
  position: absolute;
  right: 20px;
  top: 100px;
  transition: 0.8s ease;
}

.firstStepx032 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
  margin-left: 110px;
}

.details_0x32 {
  margin-top: 100px;
}

.details_0x33 {
  font-size: 18px;
  width: 400px;
  margin-left: 10px;
  margin-top: 10px;
}

.firstStepx032 {
  transition: 0.5s;
}

.startBtn {
  width: fit-content;
  padding: 10px 20px;
  margin-left: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  background-color: rgb(31, 153, 214);
  border: 0px;
  border-radius: 5px;
  transition: 0.5s;
}

.nxtBtn {
  width: fit-content;
  padding: 6px 20px;
  margin-left: 230px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  background-color: rgb(31, 153, 214);
  border: 0px;
  border-radius: 5px;
  transition: 0.5s;
}

.startBtn:hover {
  background-color: rgb(117, 194, 233);
}

.nxtBtn:hover {
  background-color: rgb(117, 194, 233);
}

.selectTheme {
  margin-top: 12px;
  margin-left: 20px;
}

.color {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
  border: solid black 1px;
}

.color1 {
  background-color: #5b509b;
}

.color2 {
  background-color: #17a9e4;
}

.color3 {
  background-color: #232323;
}

.color4 {
  background-color: rgb(255, 156, 170);
}

.color5 {
  background-color: #acd68b;
}

.color6 {
  background-color: #15abab;
}

.templateList {
  margin-left: 30px;
  margin-top: 30px;
}

.template1 {
  width: 200px;
  display: inline-block;
  height: 270px;
  border-radius: 5px;
  border: solid black 1px;
  background-color:  white;
}

.temp_0x32 {
  width: 50px;
  height: 270px;
  display: inline-block;
  position: absolute;
  z-index: 0;
  background-color: #15abab;
}

.tempName_0x32 {
  font-size: 14px;
  margin-left: 55px;
  margin-top: 6px;
  font-weight: 600;
  color: #15abab;
}

.tempProf_0x32 {
  font-size: 8px;
  margin-left: 58px;
}

.tempHR_0x32 {
  margin-left: 55px;
  width: 60%;
  border: solid 1px #15abab;
}







.template2 {
  width: 200px;
  display: inline-block;
  height: 270px;
  margin-left: 40px;
  border-radius: 5px;
  border: solid black 0.2px;
  background-color:  white;
}

.tempDiv_0x33 {
  position: absolute;
  width: 200px;
  height: 50px;
  
  color: white;
  background-color: #15abab;
}

.tempName_0x33 {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 6px;
}

.tempProf_0x33 {
  font-size: 8px;
  width: 100%;
  text-align: center;
}

.tempHR_0x33 {
  position: absolute;
  rotate: 90deg;
  left: 265px;
  border: solid 1px #15abab;
  width: 180px;
  margin-top: 160px;

}

.tempAbout_0x32 {
  margin-left: 55px;
  font-size: 9px;
}

.tempSkill_0x32 {
  font-size: 9px;
  margin-left: 55px;
  margin-top: 33px;
}

.tempSkill_0x33 {
  margin-top: 70px;
  font-size: 9px;
  margin-left: 5px;
  display: inline-block;
}
.tempAbout_0x33 {
  font-size: 9px;
  margin-left: 35px;
  display: inline-block;
}

.tempPro_0x33 {
  margin-top: 40px;
  font-size: 9px;
  margin-left: 5px;
  display: inline-block;
}

.tempExp_0x33 {
  display: inline-block;
  font-size: 9px;
  margin-left: 25px;
}

.tempEdu_0x33 {
  font-size: 9px;
  margin-top: 40px;
  margin-left: 75px;
}



.stepsDiv {
  width: 500px;
  height: 70vh;
  position: absolute;
  right: 9%;
  opacity: 0;
  transition: 0.8s;
}

.progressDiv {
  height: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
}

.currentPro {
  width: 0%;
  height: 10px;
  background-color: red;
  border-radius: 5px;
  transition: 0.8s;
}

.currHead {
  font-size: 38px;
  text-decoration: underline 2px;
  margin-top: 20px;
}

.changeStep {
  margin-top: 500px;
}


.preBtn {
  width: fit-content;
  padding: 6px 20px;
  margin-left: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin-top: 40px;
  background-color: rgb(31, 153, 214);
  border: 0px;
  border-radius: 5px;
  transition: 0.5s;
}


.preBtn:hover {
  background-color: rgb(117, 194, 233);
}

.StepOneDiv {
  transition: 0.8s;
  position: absolute;
}

.StepTwoDiv {
  opacity: 0;
  margin-left: 20px;
  z-index: -1;
  transition: 0.8s;
  position: absolute;
}

.allInpt {
  margin-top: 18px;
}

.inputPar {
  width: 200px;
  height: 24px;
  margin-top: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: solid 2px red;
} 

input:focus, textarea:focus {
  outline: none;
  caret-color: red;
}

td {
  width: 360px;
  height: 70px;
}

tr {
  margin-top: 20px;
  display: table-row;
}

.proInpt {
  width: 440px;
}

.txtArea {
  width: 440px;
  height: 120px;
  resize: none;
}

.StepThreeDiv {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  margin-left: 20px;
  z-index: -1 ;
}

.txtArea2 {
  height: 50px;
}




.expInput td {
  height: 60px;
}

.StepFourDiv {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  margin-left: 20px;
  z-index: -1 ;
}

.eduInpt td {
  height: 60px;
}

.makeSpc {
  height: 15px;
}


.StepFiveDiv {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  margin-left: 20px;
  z-index: -1 ;
}

.StepSixDiv {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  margin-left: 20px;
  z-index: -1 ;
}





.slider {
  margin-top: 15px;
  -webkit-appearance: none;
  width: 100%;
  height: 8px; 
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
} 

.StepSevenDiv {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  margin-left: 20px;
  z-index: -1 ;
}

.StepEightDiv {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  margin-left: 20px;
  z-index: -1 ;
}



.proInpt td {
  height: 60px;
}

.txtArea3 {
  height: 40px;
}

.doneImg {
  margin-top: 20px;
}

.StepNineDiv {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  margin-left: 20px;
  z-index: -1 ;
  height: 500px;
  width: 100%;
  text-align: center;
}

.Donetxt {
  font-size: 30px;
}

.prevBtn {
  width: fit-content;
  padding: 7px 20px;
  margin-left: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  background-color: rgb(249, 0, 0);
  border: 0px;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.MainTemplate1 {
  position: absolute;
  height: 1200px;
  width: 100%;
  background-color: white;
  z-index: 3;
  opacity: 1;
  overflow: visible;
}

.mt_01 {
  width: 28%;
  height: 100%;
  background-color: blue;
  display: inline-block;

}

.mt_01_temp {
  position: absolute;
  margin-left: 28%;
  width: 72%;
  padding-left: 30px;
  height: 100%;
}

.f_name {
  font-size: 62px;
  margin-top: 40px;
  color: blue;
}

.p_name {
  margin-left: 10px;
  margin-top: 0px;
  font-weight: 500;
}

.t_hr_name {
  width: 90%;
  margin-left: 10px;
  margin-top: 30px;
}

.head {
  font-size: 22px;
  font-weight: 600;
}

.about_t_1 {
  margin-left: 10px;
  margin-top: 40px;
  font-weight: 600;
}

.c_details {
  position: absolute;
  margin-top: 60px;
  right: 100px;
  text-align: right;
}

.profSVG {
  width: 40px;
  height: 40px;
  position: absolute;
}


.abtDiv {
  margin-left: 50px;
  padding-top: 8px;
}

.details_Div {
  font-size: 19px;
  font-weight: 400;
  margin-top: 25px;
  margin-left: 40px;
  width: 60vw;
}


.ExpDiv_01 {
  margin-top: 40px;
  margin-left: 10px;
}

