

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


body {
  margin: 0px;
  background-color: hsl(329, 100%, 91%);
  font-family: 'Titillium Web', sans-serif;
  transition: 0.5s;
}


.NavBarImg {
  width: 160px;
  margin-left: 50px;
  margin-top: 30px
}

.DesktopImg {
  position: absolute;
  right: 20px;
  top: 100px;
  transition: 0.8s ease;
}

.firstStepx032 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
  margin-left: 110px;
}

.details_0x32 {
  margin-top: 100px;
}

.details_0x33 {
  font-size: 18px;
  width: 400px;
  margin-left: 10px;
  margin-top: 10px;
}

.firstStepx032 {
  transition: 0.5s;
}

.startBtn {
  width: fit-content;
  padding: 10px 20px;
  margin-left: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  background-color: rgb(31, 153, 214);
  border: 0px;
  border-radius: 5px;
  transition: 0.5s;
}

.startBtn:hover {
  background-color: rgb(117, 194, 233);
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}


