

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0px;
  background-color: hsl(329, 100%, 91%);
  font-family: 'Titillium Web', sans-serif;
  transition: 0.5s;
  cursor: default;
}


.NavBarImg {
  width: 160px;
  margin-left: 50px;
  margin-top: 30px
}

.DesktopImg {
  position: absolute;
  right: 20px;
  top: 100px;
  transition: 0.8s ease;
}

.firstStepx032 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
  margin-left: 110px;
}

.details_0x32 {
  margin-top: 100px;
}

.details_0x33 {
  font-size: 18px;
  width: 400px;
  margin-left: 10px;
  margin-top: 10px;
}

.firstStepx032 {
  transition: 0.5s;
}

.startBtn {
  width: fit-content;
  padding: 10px 20px;
  margin-left: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  background-color: rgb(31, 153, 214);
  border: 0px;
  border-radius: 5px;
  transition: 0.5s;
}

.nxtBtn {
  width: fit-content;
  padding: 6px 20px;
  margin-left: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  background-color: rgb(31, 153, 214);
  border: 0px;
  border-radius: 5px;
  transition: 0.5s;
}

.startBtn:hover {
  background-color: rgb(117, 194, 233);
}

.nxtBtn:hover {
  background-color: rgb(117, 194, 233);
}

.selectTheme {
  margin-top: 30px;
  margin-left: 20px;
}

.color {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
  border: solid black 1px;
}

.color1 {
  background-color: #5b509b;
}

.color2 {
  background-color: #17a9e4;
}

.color3 {
  background-color: #232323;
}

.color4 {
  background-color: rgb(255, 156, 170);
}

.color5 {
  background-color: #acd68b;
}

.color6 {
  background-color: #15abab;
}

.templateList {
  margin-left: 30px;
  margin-top: 30px;
}

.template1 {
  width: 200px;
  display: inline-block;
  height: 270px;
  border-radius: 5px;
  border: solid black 1px;
  background-color:  white;
}

.temp_0x32 {
  width: 50px;
  height: 270px;
  display: inline-block;
  position: absolute;
  z-index: 0;
  background-color: #15abab;
}

.tempName_0x32 {
  font-size: 14px;
  margin-left: 55px;
  margin-top: 6px;
  font-weight: 600;
  color: #15abab;
}

.tempProf_0x32 {
  font-size: 8px;
  margin-left: 58px;
  margin-top: -2px;
}

.tempHR_0x32 {
  margin-left: 55px;
  width: 60%;
  border: solid 1px #15abab;
}







.template2 {
  width: 200px;
  display: inline-block;
  height: 270px;
  margin-left: 40px;
  border-radius: 5px;
  border: solid black 0.2px;
  background-color:  white;
}

.tempDiv_0x33 {
  position: absolute;
  width: 200px;
  height: 50px;
  
  color: white;
  background-color: #15abab;
}

.tempName_0x33 {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 6px;
}

.tempProf_0x33 {
  font-size: 8px;
  margin-top: -2px;
  width: 100%;
  text-align: center;
}

.tempHR_0x33 {
  position: absolute;
  rotate: 90deg;
  left: 250px;
  border: solid 1px #15abab;
  width: 180px;
  margin-top: 160px;

}

.tempAbout_0x32 {
  margin-left: 55px;
  font-size: 9px;
}

.tempSkill_0x32 {
  font-size: 9px;
  margin-left: 55px;
  margin-top: 33px;
}

.tempSkill_0x33 {
  margin-top: 70px;
  font-size: 9px;
  margin-left: 5px;
  display: inline-block;
}
.tempAbout_0x33 {
  font-size: 9px;
  margin-left: 35px;
  display: inline-block;
}

.tempPro_0x33 {
  margin-top: 40px;
  font-size: 9px;
  margin-left: 5px;
  display: inline-block;
}

.tempExp_0x33 {
  display: inline-block;
  font-size: 9px;
  margin-left: 25px;
}

.tempEdu_0x33 {
  font-size: 9px;
  margin-top: 40px;
  margin-left: 68px;
}



.stepsDiv {
  width: 500px;
  height: 100px;
  background-color: #232323;
  position: absolute;
  right: 9%;
}